<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Prefix</td>
  <td><%=h person_name.name_prefix %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">First Name</td>
  <td><%=h person_name.first_name %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Last Name</td>
  <td><%=h person_name.last_name %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Suffix</td>
  <td><%=h person_name.name_suffix %></td>
</tr>
