<% if provider.new_record?
     provider_div = 'providerNew' -%>
<div id="providerNew">
<% else
     provider_div = "provider#{provider.id}"
   end %>
<%   remote_form_for([:patient_data_instance, provider], 
                    :update => provider_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Service</td>
    <td>
      <%= f.date_select :start_service %>
    </td>
  </tr>

  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Service</td>
    <td>
      <%= f.date_select :end_service %>
    </td>
  </tr>
  <%= render :partial => '/person_names/edit', :locals => {:person_name => provider.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Role Code</td>
    <td>
    <%= f.text_field :role_code %>
    </td>
  </tr>
  
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Role Description</td>
    <td>
    <%= f.text_field :role_description %>
    </td>
  </tr>
  <%= render :partial => '/addresses/edit', :locals => {:address => provider.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => provider.telecom}%>

  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Organization</td>
    <td>
    <%= f.text_field :organization %>
    </td>
  </tr>

  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Identifier</td>
    <td>
    <%= f.text_field :patient_identifier %>
    </td>
  </tr>

  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= f.submit "Save" %>
    </td>
  </tr>
</table>
<% end %>
<% if provider.new_record? -%>
</div>
<% end -%>