<% if @patient_identifier.new_record?
  patient_identifier_div = 'patientIdentifierNew'  -%>
<div id="patientIdentifierNew">
<% else
     patient_identifier_div = "patient_identifier#{@patient_identifier.id}"
   end %>
   <% remote_form_for(:patient_identifier, @patient_identifier, :url => patient_data_url_for(@patient_data, @patient_identifier),
                      :html => {:method => http_method(@patient_identifier)}, :update => patient_identifier_div) do |f| -%>

<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Identifer <%= print_validation_for @patient_identifier, :patient_identifier %></td>
    <td>
      <%= f.text_field :patient_identifier %>
     </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Identifier domain identifier <%= print_validation_for @patient_identifier, :identifier_domain_identifier_id %></td>
    <td>
      <%= f.text_field  :identifier_domain_identifier %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>
