<% if condition.new_record?
     condition_div = 'conditionNew' 
     html_options = {} -%>
<div id="conditionNew">
<% else
     condition_div = "condition#{condition.id}"
     html_options = {:method => 'put'}
   end %>
<% remote_form_for(:condition, condition, :url => patient_data_instance_condition_path(patient_data, condition), :html => html_options,
                   :update => condition_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Event</td>
    <td>
      <%= f.calendar_date_select :start_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Event</td>
    <td>
      <%= f.calendar_date_select :end_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Problem Type</td>
    <td>
      <%= f.select :problem_type_id, @problem_types.collect{|problem| [problem.name, problem.id]}, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text Problem Name</td>
    <td><%= f.text_field :free_text_name %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>

