<% @page_header = "Provide and Register C32 based on template for patient #{@patient_data.name}" %>
<% form_for @vendor_test_plan, :url => {:controller => 'test_plan_manager', :action => 'assign_patient_data' } do |f| -%>
  <table>
    <tr>
      <td>Vendor</td>
      <td><%= f.select :vendor_id, Vendor.select_options(@vendors) %></td>
    </tr>
    <br/>
    <% if current_user.administrator? -%>
      <tr>
        <td>User</td>
        <td><%= f.select :user_id, User.select_options %></td>
      </tr>
    <% end -%>
    <%= render :partial => 'provide_and_register_form' %>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag 'Assign' %> or <%=link_to 'Back', xds_patients_path %> </td>
    </tr>
  </table>
  <%= hidden_field_tag 'pd_id', @patient_data.id %>
  <%= hidden_field_tag 'vendor_test_plan[kind_id]', @kind %>
<% end -%>
