<!-- Start Personal Information Module -->
<% remote_form_for(:registration_information, 
                   :url => patient_registration_information_path(patient),
                   :update => RegistrationInformation.class_name + 'Container',  
                   :method => http_method(registration_information)) do |form| %>
<h5>Person Information</h5>
<table>
  <% view = registration_information.view 
     view.fields.each do |field| -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext"><%= field.label %></td>
    <% if field.subobject 
         fields_for field.model do |mf| -%>
         <td><%= field.edit_box(mf) %></td>
    <%   end
       else -%>
         <td><%= field.edit_box(form) %></td>
    <% end -%>
  <% end -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= form.submit "Save" %></td>
  </tr>
</table>
<!-- End Personal Information Module -->
<% end %>