<% if insurance_provider.new_record?
     insurance_provider_div = 'insurance_providerNew' 
     html_options = {} -%>
<div id="insurance_providerNew">
<% else
     insurance_provider_div = "insurance_provider#{insurance_provider.id}"
     html_options = {:method => 'put'}
   end %>
<% remote_form_for(:insurance_provider, insurance_provider, :url => patient_data_instance_insurance_provider_path(patient_data, insurance_provider), :html => html_options,
                   :update => insurance_provider_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Insurance Provider Organization</td>
    <td>
      <%= f.text_field :represented_organization %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Insurance Type</td>
    <td>
      <%= f.select :insurance_type_id, @insuranceTypes.collect{|insurance_type| [insurance_type.name, insurance_type.id]} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>

