<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Insurance Provider Organization</td>
    <td><%=h insurance_provider.represented_organization %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Insurance Type</td>
    <td>
      <%=h insurance_provider.insurance_type.name %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td colspan="2" class="lighttext">Insurance Provider Patient</td>
  </tr>
  <%= render :partial => '/insurance_provider_patients/show', :locals => {:insurance_provider_patient => insurance_provider.insurance_provider_patient}%> 
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td colspan="2" class="lighttext">Insurance Provider Subscriber</td>
  </tr>
  <%= render :partial => '/insurance_provider_subscribers/show', :locals => {:insurance_provider_subscriber => insurance_provider.insurance_provider_subscriber}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td colspan="2" class="lighttext">Insurance Provider Guarantor</td>
  </tr>
  <%= render :partial => '/insurance_provider_guarantors/show', :locals => {:insurance_provider_guarantor => insurance_provider.insurance_provider_guarantor}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
    <span>
      <%= link_to_remote 'Edit', :update => "insurance_provider#{insurance_provider.id}",
                                 :url => edit_patient_data_instance_insurance_provider_path(patient_data, insurance_provider),
                                 :method => 'get' %>
    </span>
    <span>
      <%= link_to_remote 'Remove', :update => "insurance_provider#{insurance_provider.id}",
                                 :url => patient_data_instance_insurance_provider_path(patient_data, insurance_provider),
                                 :method => 'delete' %>
    </span>    
    </td>
  </tr>
</table>
