  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Member ID</td>
    <td>
      <input id="insurance_provider_patient_member_id" name="insurance_provider_patient[member_id]" size="30" type="text" <% if insurance_provider_patient.member_id != nil %>value="<%= insurance_provider_patient.member_id %>"<% end %> />
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Coverage Date</td>
    <td>
      <input id="insurance_provider_patient_start_coverage_date" name="insurance_provider_patient[start_coverage_date]" size="30" type="text" <% if insurance_provider_patient.start_coverage_date != nil %>value="<%= insurance_provider_patient.start_coverage_date.strftime("%m/%d/%Y") %>"<% end %> onClick="GetDate(this);" />
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Coverage Date</td>
    <td>
      <input id="insurance_provider_patient_end_coverage_date" name="insurance_provider_patient[end_coverage_date]" size="30" type="text" <% if insurance_provider_patient.end_coverage_date != nil %>value="<%= insurance_provider_patient.end_coverage_date.strftime("%m/%d/%Y") %>"<% end %> onClick="GetDate(this);" />
    </td>
  </tr>
  <%= render :partial => '/person_names/edit', :locals => {:person_name => insurance_provider_patient.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Birth Date</td>
    <td>
      <input id="insurance_provider_patient_date_of_birth" name="insurance_provider_patient[date_of_birth]" size="30" type="text" <% if insurance_provider_patient.date_of_birth != nil %>value="<%= insurance_provider_patient.date_of_birth.strftime("%m/%d/%Y") %>"<% end %> onClick="GetDate(this);" />
    </td>
  </tr>
  <%= render :partial => '/addresses/edit', :locals => {:address => insurance_provider_patient.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => insurance_provider_patient.telecom}%>