  <%= render :partial => '/person_names/show', :locals => {:person_name => insurance_provider_patient.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Birth Date</td>
    <td><% if insurance_provider_patient.date_of_birth != nil %><%=h insurance_provider_patient.date_of_birth.strftime("%m/%d/%Y") %><% end %></td>
  </tr>
  <%= render :partial => '/addresses/show', :locals => {:address => insurance_provider_patient.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => insurance_provider_patient.telecom}%>