<% remote_form_for(:insurance_provider_patient, @insurance_provider_patient,
                   :url => patient_datum_insurance_provider_patient_path(@patient_data, @insurance_provider_patient),
                   :html => {:method => 'put'},
                   :update => "insurance_provider_patient#{@insurance_provider_patient.id}") do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td colspan="2" class="lighttext">Patient <%= print_validation_for @insurance_provider_patient, :member_id %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Member ID</td>
    <td>
      <input id="insurance_provider_patient_member_id"
             name="insurance_provider_patient[member_id]"
             size="30"
             type="text"
             <% if @insurance_provider_patient.member_id %>value="<%= @insurance_provider_patient.member_id %>"<% end %> />
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Coverage Date <%= print_validation_for @insurance_provider_patient, :start_coverage_date %></td>
    <td><%= f.calendar_date_select :start_coverage_date %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Coverage Date <%= print_validation_for @insurance_provider_patient, :end_coverage_date %></td>
    <td><%= f.calendar_date_select :end_coverage_date %></td>
  </tr>
  <%= render :partial => '/person_names/edit', :locals => {:person_name => @insurance_provider_patient.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Birth Date <%= print_validation_for @insurance_provider_patient, :date_of_birth %></td>
    <td><%= f.calendar_date_select :date_of_birth %></td>
  </tr>
  <%= render :partial => '/addresses/edit', :locals => {:address => @insurance_provider_patient.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => @insurance_provider_patient.telecom}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
<table>
<% end %>
