  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Subscriber ID</td>
    <td>
      <input id="insurance_provider_subscriber_subscriber_id" name="insurance_provider_subscriber[subscriber_id]" size="30" type="text" <% if insurance_provider_subscriber.subscriber_id %>value="<%= insurance_provider_subscriber.subscriber_id %>"<% end %> />
    </td>
  </tr>
  <%= render :partial => '/person_names/edit', :locals => {:person_name => insurance_provider_subscriber.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Birth Date</td>
    <td>
      <input id="insurance_provider_subscriber_date_of_birth" name="insurance_provider_subscriber[date_of_birth]" size="30" type="text" <% if insurance_provider_subscriber.date_of_birth %>value="<%= insurance_provider_subscriber.date_of_birth.strftime("%m/%d/%Y") %>"<% end %> onClick="GetDate(this);" />
    </td>
  </tr>
  <%= render :partial => '/addresses/edit', :locals => {:address => insurance_provider_subscriber.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => insurance_provider_subscriber.telecom}%>