<!-- Start Personal Information Module -->
<% remote_form_for(:registration_information, 
                   :url => patient_data_instance_registration_information_path(patient_data),
                   :update => 'personInformationContainer') do |f| %>
<h5>Person Information</h5>
<table>
	<tr class="darkzebra">
		<td class="lighttext">Person ID</td>
		<td><%= f.text_field :person_identifier %></td>
	</tr>
  <%= render :partial => '/person_names/edit', :locals => {:person_name => registration_information.person_name}%>
	<tr class="spacer"><td></td><td></td></tr>
	<tr class="lightzebra">
      <td class="lighttext">Gender</td>
      <td>
        <select name="gender_id">
        <% for gender in @genders -%>
          <option value="<%= gender.id %>"><%= gender.name %></option>
        <% end -%>
        </select>
      </td>
    </tr>
	<tr class="darkzebra">
        <td class="lighttext">Date of Birth</td>
        <td><input id="registration_information_date_of_birth" name="registration_information[date_of_birth]" size="30" type="text" <% if registration_information.date_of_birth != nil %>value="<%= registration_information.date_of_birth.strftime("%m/%d/%y") %>"<% end %> onClick="GetDate(this);" /></td>
    </tr>
    <tr class="lightzebra">
      <td class="lighttext">Marital Status</td>
      <td>
        <select name="marital_status_id">
        <% for maritalStatus in @maritalStatuses -%>
          <option value="<%= maritalStatus.id %>"><%= maritalStatus.name %></option>
        <% end -%>
        </select>
      </td>
    </tr>
    <tr class="lightzebra">
      <td class="lighttext">Religion</td>
      <td>
        <select name="religion_id">
        <% for religion in @religions -%>
          <option value="<%= religion.id %>"><%= religion.name %></option>
        <% end -%>
        </select>
      </td>
    </tr>
	<tr class="darkzebra">
		<td class="lighttext">Race</td>
        <td>
          <select name="race_id">
          <% for race in @races -%>
            <option value="<%= race.id %>"><%= race.name %></option>
          <% end -%>
          </select>
        </td>
	</tr>
	<tr class="lightzebra">
		<td class="lighttext">Ethnicity</td>
		<td>
		  <select name="ethnicity_id">
          <% for ethnicity in @ethnicities -%>
            <option value="<%= ethnicity.id %>"><%= ethnicity.name %></option>
          <% end -%>
          </select>
		</td>
	</tr>
	<tr class="spacer"><td></td><td></td></tr>
  <%= render :partial => '/addresses/edit', :locals => {:address => registration_information.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => registration_information.telecom}%>
  <tr class="lightzebra">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<!-- End Personal Information Module -->
<% end %>