<!-- Start Personal Information Module -->
<h5>Person Information</h5>
<table>
<% if registration_information %>
<tr class="darkzebra">
  <td class="lighttext">Person ID</td>
  <td><%=h registration_information.person_identifier %></td>
</tr>
<%= render :partial => '/person_names/show', :locals => {:person_name => registration_information.person_name}%>
<tr class="spacer"><td></td><td></td></tr>
<tr class="lightzebra">
  <td class="lighttext">Gender</td>
  <td><%=h registration_information.gender %></td>
</tr>
<tr class="darkzebra">
  <td class="lighttext">Marital Status</td>
  <td><%=h registration_information.marital_status %></td>
</tr>
<tr class="lightzebra">
  <td class="lighttext">Race</td>
  <td><%=h registration_information.race %></td>
</tr>
<tr class="darkzebra">
  <td class="lighttext">Ethnicity</td>
  <td><%=h registration_information.ethnicity %></td>
</tr>
<%= render :partial => '/addresses/show', :locals => {:address => registration_information.address}%>
<%= render :partial => '/telecoms/show', :locals => {:telecom => registration_information.telecom}%>

<tr class="lightzebra">
  <td></td>
  <td>
    <%= link_to_remote 'Edit', :update => 'personInformationContainer', 
                               :url => edit_patient_data_instance_registration_information_path(patient_data),
                               :method => 'get' %>
  </td>
</tr>
  <% else -%>
  <tr class="darkzebra">
    <td class="lighttext">There is no registration data for this test case</td>
    <td><%= link_to_remote 'Create some', :update => 'personInformationContainer',
                                      :url => new_patient_data_instance_registration_information_path(patient_data), :method => 'get' %>
    </td>
  </tr>
  <% end -%>
</table>  
<!-- End Personal Information Module -->