<!-- Start Personal Information Module -->
<h5>Person Information</h5>
<table>
<% if registration_information %>

<% view = registration_information.view 
   view.fields.each do |field| -%>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext"><%= field.label %></td>
  <td><%= field.value %></td>
</tr>
<% end -%>

<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td></td>
  <td>
  <span>
    <%= link_to_remote 'Edit', :update => 'personInformationContainer', 
                               :url => edit_patient_data_instance_registration_information_path(patient_data),
                               :method => 'get' %>
  </span>   
  
    <span>
    <%= link_to_remote 'Remove', :update => 'personInformationContainer', 
                               :url => patient_data_instance_registration_information_path(patient_data),
                               :method => 'delete' %>
  </span> 
  </td>
</tr>
  <% else -%>
  <tr class="darkzebra">
    <td class="lighttext">There is no registration data for this test case</td>
    <td><%= link_to_remote 'Create some', :update => 'personInformationContainer',
                                          :url => new_patient_data_instance_registration_information_path(patient_data), 
                                          :method => 'get' %>
    </td>
  </tr>
  <% end -%>
</table>  
<!-- End Personal Information Module -->