<!-- Start Personal Information Module -->
<% remote_form_for(:registration_information,
                   :url => patient_datum_registration_information_path(@patient),
                   :update => 'personInformationContainer', :method => http_method(@registration_information)) do |f| %>
<h5>Person Information (Required)</h5>
<table>
  <tr class="darkzebra">
    <td class="lighttext">Document Timestamp <%= print_validation_for(@registration_information, :person_identifier) %></td>
    <td><%= f.calendar_date_select :document_timestamp %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Person Identifier <%= print_validation_for(@registration_information, :person_identifier) %></td>
    <td><%= f.text_field :person_identifier %></td>
  </tr>
  <%= render :partial => '/person_names/edit', :locals => {:person_name => @registration_information.person_name}%>
  <tr class="spacer"><td></td><td></td></tr>
  <tr class="lightzebra">
    <td class="lighttext">Gender <%= print_validation_for(@registration_information, :gender_id) %></td>
    <td><%= f.select :gender_id, Gender.select_options %></td>
  </tr>
  <tr class="darkzebra">
    <td class="lighttext">Date of Birth <%= print_validation_for(@registration_information, :date_of_birth) %></td>
    <td><%= f.calendar_date_select :date_of_birth %></td>
  </tr>
  <tr class="lightzebra">
    <td class="lighttext">Marital Status <%= print_validation_for(@registration_information, :marital_status_id) %></td>
    <td><%= f.select :marital_status_id, MaritalStatus.select_options, {:include_blank => true} %></td>
  </tr>
  <tr class="lightzebra">
    <td class="lighttext">Religion <%= print_validation_for(@registration_information, :religion_id) %> </td>
    <td><%= f.select :religion_id, Religion.select_options, {:include_blank => true} %></td>
  </tr>
  <tr class="darkzebra">
    <td class="lighttext">Race <%= print_validation_for(@registration_information, :race_id) %></td>
    <td><%= f.select :race_id, Race.select_options, {:include_blank => true} %></td>
  </tr>
  <tr class="lightzebra">
    <td class="lighttext">Ethnicity <%= print_validation_for(@registration_information, :ethnicity_id) %></td>
    <td><%= f.select :ethnicity_id, Ethnicity.select_options, {:include_blank => true} %></td>
  </tr>
  <tr class="spacer"><td></td><td></td></tr>
  <%= render :partial => '/addresses/edit', :locals => {:address => @registration_information.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => @registration_information.telecom}%>
  <tr class="lightzebra">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<!-- End Personal Information Module -->
<% end %>
