<tr>
  <td class="hitsp_c32_attribute_name">Home Phone:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h telecom.home_phone %>
  </td>
  <td class="hitsp_c32_attribute_name">Mobile Phone:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h telecom.mobile_phone %>
  </td>
</tr>
<tr>
  <td class="hitsp_c32_attribute_name">Work Phone:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h telecom.work_phone %>
  </td>
  <td class="hitsp_c32_attribute_name">Vacation Home Phone:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h telecom.vacation_home_phone %>
  </td>
</tr>
<tr>
  <td class="hitsp_c32_attribute_name">Email:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h telecom.email %>
  </td>
  <td class="hitsp_c32_attribute_name">URL:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h telecom.url %>
  </td>
</tr>