<% if language.new_record?
     language_div = 'languageNew' 
     html_options = {} -%>
<div id="languageNew">
<% else
     language_div = "language#{language.id}"
     html_options = {:method => 'put'}
   end %>
<% remote_form_for(:language, language, :url => patient_data_instance_language_path(patient_data, language), :html => html_options,
                    :update => language_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Language</td>
     <td>
       <%= f.select :language, ['English', 'Canadian French', 'l33t'] %>
     </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Mode</td>
    <td>
      <%= f.text_field :mode %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Preference</td>
    <td>
      <%= f.check_box :preference %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= f.submit "Save" %>
    </td>
  </tr>
</table>                         
<% end -%>
<% if language.new_record? -%>
</div>
<% end -%>