<% if language.new_record?
     language_div = 'languageNew' 
     html_options = {} -%>
<div id="languageNew">
<% else
     language_div = "language#{language.id}"
     html_options = {:method => 'put'}
   end %>
<% remote_form_for(:language, language, :url => patient_data_instance_language_path(patient_data, language), :html => html_options,
                    :update => language_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Language</td>
    <td>
      <select name="iso_language_id">
         <% for isoLanguage in @isoLanguages -%>
           <option value="<%= isoLanguage.id %>"><%= isoLanguage.name %></option>
         <% end -%>
       </select>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Country</td>
    <td>
      <select name="iso_country_id">
         <% for isoCountry in @isoCountries -%>
           <option value="<%= isoCountry.id %>"><%= isoCountry.name %></option>
         <% end -%>
       </select>       
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Mode</td>
    <td>
      <select name="language_ability_mode_id">
         <% for languageAbilityMode in @languageAbilityModes -%>
           <option value="<%= languageAbilityMode.id %>"><%= languageAbilityMode.name %></option>
         <% end -%>
       </select>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Preference</td>
    <td>
      <%= f.check_box :preference %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= f.submit "Save" %>
    </td>
  </tr>
</table>                         
<% end -%>
<% if language.new_record? -%>
</div>
<% end -%>