<table>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Language</td>
  <td><%= h language.language %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Mode</td>
  <td><%= h language.mode %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Preferred</td>
  <td><%= h language.preference %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td></td>
  <td>
    <%= link_to_remote 'Edit', :update => "language#{language.id}",
                               :url => edit_patient_data_instance_language_path(patient_data, language),
                               :method => 'get' %>
  </td>
</tr>
</table>