<table>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Language</td>
  <td><%= h language.iso_language.name %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Country</td>
  <td><%= h language.iso_country.name %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Mode</td>
  <td><%= h language.language_ability_mode.name %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Preferred</td>
  <td><%= h language.preference %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td></td>
  <td>
  <span>
    <%= link_to_remote 'Edit', :update => "language#{language.id}",
                               :url => edit_patient_data_instance_language_path(patient_data, language),
                               :method => 'get' %>
    </span> 
    
   <span>
    <%= link_to_remote 'Remove', :update => "language#{language.id}",
                               :url => patient_data_instance_language_path(patient_data, language),
                               :method => 'delete' %>
    </span> 
  </td>
</tr>
</table>