        <!-- Start Content -->
        <div class="content">
          <div class="container">

<% if flash[:notice] %> 
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

            <h3>Create New C32 Patient Template</h3>
            <div>
              <% form_for(PatientData.new) do |f| %>
                <label for="name">Name:</label>
                <%= f.text_field :name %>
                <%= f.submit "Create Named Template" %>
              <% end %>
              <%= button_to("Create Random Template", :action => 'autoCreate') %>
            </div>
            <br/>
            <table id="dashboard">
            
              <tr>
                <th class="selected"><a href="#"><div>Template</div></a></th>
                <th><a href="#"><div>Test Type</div></a></th>
                <th><a href="#"><div>Created by</div></a></th>
                <th><a href="#"><div>Created on</div></a></th>
                <th><a href="#"><div>Last modified</div></a></th>
                <th class="noarrow"><a href="#"><div>Actions</div></a></th>
              </tr>
              
              <% for patient_data in @patient_data_list -%>
              <tr>
                <td><%= link_to h(patient_data.name), patient_data_instance_url(patient_data) %></td>
                <td>CCD/C32</td>
                <td><%= patient_data.user.first_name %> <%= patient_data.user.last_name %></td>
                <td><%= patient_data.created_at.strftime("%d.%b.%Y") %></td>
                <td><%= patient_data.updated_at.strftime("%d.%b.%Y") %></td>
                <td class="actions" width=270px>
                  <%= link_to 'edit', patient_data_instance_url(patient_data)%> 
                  <%= link_to 'delete', patient_data_instance_url(patient_data), :confirm => 'Are you sure you want to delete this Laika template?', :method => :delete %>
                  <a href="javascript:toggle_div('assignment_div_<%=patient_data.id%>');">assign</a>
                  <div id="assignment_div_<%=patient_data.id%>" style="display:none">
                    <form action="<%= url_for :controller => 'test_plan_manager', :action => 'assign_patient_data' %>">
                      <input type="hidden" name="pd_id" value="<%= patient_data.id %>"/>
                      <select name="vendor_id">
                        <% for vendor in @vendors -%>
                          <option value="<%= vendor.id %>"><%= vendor.public_id %></option>
                        <% end -%>
                      </select>
                      <select name="kind_id">
                        <% for kind in @kinds -%>
                          <option value="<%= kind.id %>"><%= kind.name %></option>
                        <% end -%>
                      </select>
                      <% if current_user.administrator? -%>
                        <select name="user_id">
                          <option value="<%= current_user.id %>"><%= current_user.display_name %></option>
                          <% @users.select {|u| u != current_user}.each do |user| -%>
                            <option value="<%= user.id %>"><%= user.display_name %></option>
                          <% end -%>
                        </select>
                      <% else -%>
                        <input type="hidden" name="user_id" value="<%= current_user.id %>"/>
                      <% end -%>
                      <p/>
                      <input type="submit" value="Assign"/>
                    </form>
                  </div>
                </td>
              </tr>
              <% end -%>
            </table>
          </div>
        </div>
