<!-- Start Content -->
 <div id="content">
    <div class="container" >
      <div class="column span-6 append-1">
        <h3><%= @patient_data.name %></h3>
        <h4>Display and File Compliance</h4>
        
        <div id="modules">
          <table>
            <tr>
              <th><h5>CCD/C32 Modules</h5></th>
            </tr>
            <tr>
              <td class="lighttext">Person Information</td>
            </tr>
            <tr>
              <td class="lighttext">Language Spoken</td>
            </tr>
            <tr>
              <td class="lighttext">Support</td>
            </tr>
            <tr>
              <td class="lighttext">Healthcare Provider</td>
            </tr>
            <tr>
              <td class="lighttext">Insurance Provider</td>
            </tr>
            <tr>
              <td class="lighttext">Allergies and Drugs</td>
            </tr>
            <tr>
              <td class="lighttext">Condition</td>
            </tr>
            <tr>
              <td class="lighttext">Medications</td>
            </tr>
            <tr>
              <td class="lighttext">Pregnancy</td>
            </tr>
            <tr>
              <td class="lighttext">Information Source</td>
            </tr>
            <tr>
              <td class="lighttext">Comments</td>
            </tr>
            <tr>
              <td class="lighttext">Advance Directive</td>
            </tr>
          </table>
        </div>
      </div>
   
   <div class="column span-13 last">
     <div id="template">
     <div id="personInformationContainer">
         <%= render :partial => '/registration_information/show', :locals => {:registration_information  => @patient_data.registration_information,
                                                                                :patient_data => @patient_data} %>
     </div>
     

       <h5>Languages</h5>

       <% for language in @patient_data.languages -%>
       <div id="language<%= language.id %>">
         <%= render :partial => '/languages/show', :locals => {:language  => language, :patient_data => @patient_data} %>
       </div>
       <% end -%>
       <table id="addLanguage">
       <tr class="<%= cycle("darkzebra", "lightzebra")%>">
         <td></td>
         <td>
                     <%= link_to_remote 'Add', :url => new_patient_data_instance_language_path(@patient_data), 
                                               :method => 'get', :update => 'addLanguage', :position => :before %>
         </td>                                       
       </tr>                                               
       </table>

     
   
   <!-- Start Support Module -->
   <div id="support">
    <%= render :partial => '/supports/show', :locals => {:support  => @patient_data.support, :patient_data => @patient_data} %>
   </div>
   <!-- End Support Module -->
   
   <!-- Start Healthcare Provider Module -->
   <h5>Healthcare Provider</h5>
   <% for provider in @patient_data.providers -%>
   <div id="provider<%= provider.id %>">
     <%= render :partial => '/providers/show', :locals => {:provider  => provider, :patient_data => @patient_data} %>
   </div>
   <% end -%>
   <table id="addProvider">
   <tr class="<%= cycle("darkzebra", "lightzebra")%>">
     <td></td>
     <td>
                 <%= link_to_remote 'Add', :url => new_patient_data_instance_provider_path(@patient_data), 
                                           :method => 'get', :update => 'addProvider', :position => :before %>
     </td>                                       
   </tr>                                               
   </table>
   <!-- End Healthcare Provider Module -->
   
   <h5>Medications</h5>
   <% for medication in @patient_data.medications -%>
   <div id="medication<%= medication.id %>">
     <%= render :partial => '/medications/show', :locals => {:medication  => medication, :patient_data => @patient_data} %>
   </div>
   <% end -%>
   <table id="addMedication">
   <tr class="<%= cycle("darkzebra", "lightzebra")%>">
     <td></td>
     <td>
                 <%= link_to_remote 'Add', :url => new_patient_data_instance_medication_path(@patient_data), 
                                           :method => 'get', :update => 'addMedication', :position => :before %>
     </td>                                       
   </tr>                                               
   </table>
   
   </div>
   <!-- end template-->
   </div>
 </div>
 <!-- End Content -->
