  <!-- Start Content -->
  <div class="content">
    <div class="container" >
      <div class="column span-6 append-1">
        <h3><%= @patient_data.name %></h3>
        <h4></h4>
        <div id="modules">
          <table>
            <tr>
              <th colspan="3"><h5>CCD/C32 Modules</h5></th>
            </tr>
            <tr class="darkzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('personInformationContainer', 1.0);">Person Information</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="lightzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('languageContainer', 1.0);">Language Spoken</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="darkzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('supportContainer', 1.0);">Support</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="lightzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('healthCareProviderContainer', 1.0);">HealthCare Provider</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="darkzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('insuranceProviderContainer', 1.0);">Insurance Provider</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="lightzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('allergiesAndDrugsContainer', 1.0);">Allergies and Drugs</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="darkzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('conditionContainer', 1.0);">Conditions</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="lightzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('medicationsContainer', 1.0);">Medications</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="darkzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('pregnancyContainer', 1.0);">Pregnancy</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="lightzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('informationSourceContainer', 1.0);">Information Source</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="darkzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('commentsContainer', 1.0);">Comments</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="lightzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('advanceDirectiveContainer', 1.0);">Advance Directive</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="darkzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('immunizationsContainer', 1.0);">Immunizations</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="lightzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('vitalSignsContainer', 1.0);">Vital Signs</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="darkzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('resultsContainer', 1.0);">Results</a></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="lightzebra">
              <td class="lighttext"><a href="#" onclick="javascript:scroll_to_module_and_highlight('encountersContainer', 1.0);">Encounters</a></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="column span-13 last">
        <div id="template">
        
          <!-- Start Registration Module -->
          <div id="personInformationContainer">
            <%= render :partial => '/registration_information/show', :locals => {:registration_information  => @patient_data.registration_information, :patient_data => @patient_data} %>
          </div>
          <!-- End Registration Module -->

          <!-- Start Languages Module -->
          <div id="languageContainer"><h5>Languages</h5>
          <% for language in @patient_data.languages -%>
            <div id="language<%= language.id %>">
              <%= render :partial => '/languages/show', :locals => {:language  => language, :patient_data => @patient_data} %>
            </div>
          <% end -%>
          <table id="addLanguage">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td>
                <%= link_to_remote 'Add', :url => new_patient_data_instance_language_path(@patient_data), 
                                          :method => 'get', :update => 'addLanguage', :position => :before %>
              </td>                                       
            </tr>                                               
          </table>
          </div> 
          <!-- End Languages Module -->
                    
          <!-- Start Support Module -->
          <div id="supportContainer">
            <%= render :partial => '/supports/show', :locals => {:support  => @patient_data.support, :patient_data => @patient_data} %>
          </div>
          <!-- End Support Module -->
                    
          <!-- Start Healthcare Provider Module -->
          <div id="healthCareProviderContainer">
          <h5>Healthcare Provider</h5>
          <% for provider in @patient_data.providers -%>
            <div id="provider<%= provider.id %>">
              <%= render :partial => '/providers/show', :locals => {:provider  => provider, :patient_data => @patient_data} %>
            </div>
          <% end -%>
          <table id="addProvider">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td>
                <%= link_to_remote 'Add', :url => new_patient_data_instance_provider_path(@patient_data), 
                                          :method => 'get', :update => 'addProvider', :position => :before %>
              </td>                                       
            </tr>                                               
          </table>
          </div>
          <!-- End Healthcare Provider Module -->          
                 
          <!-- Start Insurance Provider Module -->
          <div id="insuranceProviderContainer">
          <h5>Insurance Provider</h5>
          <table id="addInsuranceProvider">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div>
          <!-- End Insurance Provider Module -->   
          
          <!-- Start Allergies and Drugs Module -->
          <div id="allergiesAndDrugsContainer">
          <h5>Allergies and Drugs</h5>
          <% if @patient_data.no_known_allergies -%>
          <table>
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td>
                No known allergies
              </td>
            </tr>
          </table>
          <% else
               unless @patient_data.allergies.empty?
                 for allergy in @patient_data.allergies -%>
            <div id="allergy<%= allergy.id %>">
              <%= render :partial => '/allergies/show', :locals => {:allergy  => allergy, :patient_data => @patient_data} %>
            </div>
          <%     end 
               else -%>
               <table>
                 <tr class="<%= cycle("darkzebra", "lightzebra")%>">
                   <td></td>
                   <td>
                     <%= link_to_remote 'Set no known allergies', :url => set_no_known_allergies_patient_data_instance_url(@patient_data),
                                                                  :method => 'post', :update => 'allergiesAndDrugsContainer' %>
                   </td>
                 </tr>
               </table>
          <%   end -%>
          <table id="addAllergy">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td>
                <%= link_to_remote 'Add', :url => new_patient_data_instance_allergy_path(@patient_data), 
                                          :method => 'get', :update => 'addAllergy', :position => :before %>
              </td>                                       
            </tr>                                               
          </table>
          <% end -%>
          </div>
          <!-- End Allergies and Drugs Module -->    
          
          <!-- Start Conditions Module -->
          <div id="conditionsContainer">
          <h5>Conditions</h5>
          <table id="addCondition">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div>
          <!-- End Conditions Module -->  
          
          <!-- Start Medications Module -->   
          <div id="medicationsContainer"> 
          <h5>Medications</h5>
          <% for medication in @patient_data.medications -%>
            <div id="medication<%= medication.id %>">
              <%= render :partial => '/medications/show', :locals => {:medication  => medication, :patient_data => @patient_data} %>
            </div>
          <% end -%>
          <table id="addMedication">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_data_instance_medication_path(@patient_data), 
                                            :method => 'get', :update => 'addMedication', :position => :before %>
              </td>                                       
            </tr>                                               
          </table>  
          </div>
          <!-- End Medications Module -->        
                 
          <!-- Start Pregnancy Module -->
          <div id="pregnancyContainer"> 
          <h5>Pregnancy</h5>
            <div id="pregnancy">
              <%= render :partial => '/pregnancy/show', :locals => {:patient_data => @patient_data} %>
            </div>
          </div> 
          <!-- End Pregnancy Module -->  
          
          <!-- Start Information Source Module -->
          <div id="informationSourceContainer"> 
          <h5>Information Source</h5>
          <table id="addInformationSource">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div> 
          <!-- End Information Source Module -->  
          
          <!-- Start Comments Module -->
          <div id="commentsContainer"> 
          <h5>Comments</h5>
          <table id="addComment">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div> 
          <!-- End Comments Module -->  
          
          <!-- Start Advance Directive Module -->
          <div id="advanceDirectiveContainer"> 
          <h5>Advance Directive</h5>
          <table id="addAdvanceDirective">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div> 
          <!-- End Advance Directive Module -->       
          
          <!-- Start Immunizations Module -->
          <div id="immunizationsContainer"> 
          <h5>Immunizations</h5>
          <table id="addImmunization">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div> 
          <!-- End Immunizations Module -->     
          
          <!-- Start Vital Signs Module -->
          <div id="vitalSignsContainer"> 
          <h5>Vital Signs</h5>
          <table id="addVitalSign">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div> 
          <!-- End Vital Signs Module --> 
          
          <!-- Start Results Module -->
          <div id="resultsContainer"> 
          <h5>Results</h5>
          <table id="addResult">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div> 
          <!-- End Results Module --> 
          
          <!-- Start Encounters Module -->
          <div id="encountersContainer"> 
          <h5>Encounters</h5>
          <table id="addEncounter">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td></td>                                       
            </tr>                                               
          </table>
          </div> 
          <!-- End Encounters Module --> 
                 
        </div>
      </div>
    </div>
  </div>