        <!-- Start Content -->
        <div class="content">
          
          <div class="container">
          
            <!-- Start User Block -->
            <h3>People</h3>
            <% num_users = @users.size 
               user_counter = 0
               while user_counter < num_users 
                 user = @users[user_counter] 
                 user_counter += 1 %>
              <div class="column span-6">
                <div class="personinfo">
                  <strong><%= user.first_name %> <%= user.last_name %></strong> <span class="small">(Administrator)</span>
                  <br/><a href="http://<%= user.company_url %>"><%= user.company %></a>
                  <br/><a href="mailto:<%= user.email %>" ><%= user.email %></a>
                  <br/><small>Created <%= distance_of_time_in_words(Time.now, user.created_at) %> ago</small>
                  <br/><small>Edited <%= distance_of_time_in_words(Time.now, user.created_at) %> ago</small>
                </div>
              </div>
            <% end %>  
            <!-- End User Block -->
          </div>

          <br/><br/>

          <div class="container">
          
            <!-- Start Inspection Block -->
            <h3>Vendor Inspections</h3>
            
            <h3></h3>
            <div>
              <% form_for(Vendor.new) do |f| %>
              <p>
                <label for="public_id">New Vendor Inspection ID:</label>
                <%= f.text_field :public_id %>
                <%= f.submit "Create" %>
              </p>
              <% end %>
            </div>
            
            <% num_vendors = @vendors.size 
               vendor_counter = 0
               while vendor_counter < num_vendors
                 vendor = @vendors[vendor_counter] 
                 vendor_counter += 1 %>
              <div class="column span-6">
                <div class="vendorinfo">
                  <div>Vendor Inspection ID: <%= vendor.public_id %></div>
                  <br/><small>Created <%= distance_of_time_in_words(Time.now, vendor.created_at) %> ago</small>
                  <br/><small>Edited <%= distance_of_time_in_words(Time.now, vendor.created_at) %> ago</small>
                </div>
              </div>
            <% end %>  
            <!-- End Inspection Block -->
            
          </div>
        </div>
        <!-- End Content -->