        <!-- Start Content -->
        <div class="content">
          
          <div class="container">
          
            <!-- Start User Block -->
            <h3>People</h3>
            <% num_users = @users.size 
               user_counter = 0
               while user_counter < num_users 
                 user = @users[user_counter] 
                 user_counter += 1 %>
              <div class="column span-6">
                <div class="personinfo">
                  <strong><%= user.display_name %></strong> <span class="small">(Administrator)</span>
                  <br/><a href="http://<%= user.company_url %>"><%= user.company %></a>
                  <br/><a href="mailto:<%= user.email %>" ><%= user.email %></a>
                  <br/><small>Created <%= distance_of_time_in_words(Time.now, user.created_at) %> ago</small>
                  <br/><small>Edited <%= distance_of_time_in_words(Time.now, user.created_at) %> ago</small>
                </div>
              </div>
            <% end %>  
            <!-- End User Block -->
          </div>

          <br/><br/>

          <div class="container">
          
            <!-- Start Inspection Block -->
            <h3>Vendor Inspections</h3>
            
            <h3></h3>
            <% form_for(Vendor.new) do |f| %>
              <br/>
              <div class="column span-4"><label for="public_id">Vendor Inspection ID:</label></div>
              <div class="column span-4"><%= f.text_field :public_id %></div>
              <br/><br/>
              <div class="column span-4">&nbsp;</div>
              <div class="column span-4"><%= f.submit "Create" %></div>
              <br/><br/>
            <% end %>
            
            <% num_vendors = @vendors.size 
               vendor_counter = 0
               while vendor_counter < num_vendors
                 vendor = @vendors[vendor_counter] 
                 vendor_counter += 1 %>
              <div class="column span-6">
                <div class="vendorinfo">
                  <div>Inspection ID: <strong><%=h vendor.public_id %></strong></div>
                  <br/><small>Created <%= distance_of_time_in_words(Time.now, vendor.created_at) %> ago</small>
                  <br/><small>Edited <%= distance_of_time_in_words(Time.now, vendor.created_at) %> ago</small>
                </div>
              </div>
            <% end %>  
            <!-- End Inspection Block -->
            
          </div>
        </div>
        <!-- End Content -->
