<h1>Editing vendor</h1>

<%= error_messages_for :vendor %>

<% form_for(@vendor) do |f| %>
  <p>
    <b>Display name</b><br />
    <%= f.text_field :display_name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @vendor %> |
<%= link_to 'Back', vendors_path %>
