<p>
  <b>Person identifier:</b>
  <%=h @registration_information.person_identifier %>
</p>

<p>
  <b>Name prefix:</b>
  <%=h @registration_information.name_prefix %>
</p>

<p>
  <b>First name:</b>
  <%=h @registration_information.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @registration_information.last_name %>
</p>

<p>
  <b>Name suffix:</b>
  <%=h @registration_information.name_suffix %>
</p>

<p>
  <b>Birth date:</b>
  <%=h @registration_information.birth_date %>
</p>

<p>
  <b>Gender:</b>
  <%=h @registration_information.gender %>
</p>

<p>
  <b>Marital status:</b>
  <%=h @registration_information.marital_status %>
</p>

<p>
  <b>Religious affiliation:</b>
  <%=h @registration_information.religious_affiliation %>
</p>

<p>
  <b>Race:</b>
  <%=h @registration_information.race %>
</p>

<p>
  <b>Ethnicity:</b>
  <%=h @registration_information.ethnicity %>
</p>

<p>
  <b>Street address line one:</b>
  <%=h @registration_information.street_address_line_one %>
</p>

<p>
  <b>Street address line two:</b>
  <%=h @registration_information.street_address_line_two %>
</p>

<p>
  <b>City:</b>
  <%=h @registration_information.city %>
</p>

<p>
  <b>State:</b>
  <%=h @registration_information.state %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @registration_information.postal_code %>
</p>

<p>
  <b>Country:</b>
  <%=h @registration_information.country %>
</p>

<p>
  <b>Home phone:</b>
  <%=h @registration_information.home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%=h @registration_information.work_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%=h @registration_information.mobile_phone %>
</p>

<p>
  <b>Vacation home phone:</b>
  <%=h @registration_information.vacation_home_phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @registration_information.email %>
</p>

<p>
  <b>Url:</b>
  <%=h @registration_information.url %>
</p>


<%= link_to 'Edit', edit_registration_information_path(@registration_information) %> |
<%= link_to 'Back', registration_informations_path %>
