<a href="javascript:toggle_div('vtp_status_<%=vendor_test_plan.id%>')" ><%= test_results_status(vendor_test_plan) %></a>
<div id="vtp_status_<%=vendor_test_plan.id%>" style="display:none">
    <% unless vendor_test_plan.test_result.andand.result == "PASS"  %>  
    <div><%= link_to test_pass,set_status_vendor_test_plan_url(vendor_test_plan,:status=>:pass) %></div>
    <% end %>
     <% unless vendor_test_plan.test_result.andand.result == "FAIL"  %>  
       <div><%= link_to test_fail ,set_status_vendor_test_plan_url(vendor_test_plan,:status=>:fail) %></div>
     <% end %>
     <% unless vendor_test_plan.test_result.nil? || vendor_test_plan.test_result.andand.result == "IN-PROGRESS" %>
    <div><%= link_to test_in_progress, set_status_vendor_test_plan_url(vendor_test_plan,:status=>:inprogress) %></div>
    <% end %>

</div>

