        <!-- Start Content -->
        <div class="content">
          <!-- Start Container -->
          <div class="container">
            <span style="float:right; position:relative; right:8px; top:4px"><%= link_to "Export Inspection Reports", :action => :export, :controller => :test_plan_manager %></span>
            <% currentVendorTestId = nil %>
            <% for vendor_test_plan in @vendor_test_plans
                 numXMLValidationErrors = 0
                 numContentInspectionErrors = 0
                 if vendor_test_plan.validated?
                   report = vendor_test_plan.clinical_document.validation_report(:xml)
                   report.elements.to_a("//Result").each do |res|
                     errorType = res.attributes['validator']
                     res.elements.to_a("./error").each do |err|
                       if errorType.to_s == "Content Inspection"
                         numContentInspectionErrors += 1 
                       else
                         numXMLValidationErrors += 1
                       end 
                     end
                   end
                 end %>
              <% if currentVendorTestId == nil || currentVendorTestId != vendor_test_plan.vendor.id %>
                </table>
                <h3>Laika Inspection ID: <%= vendor_test_plan.vendor.public_id %></h3>
                <table id="dashboard">
                  <tr>
                    <th><a href="#"><div>Status</div></a></th>
                    <th class="selected"><a href="#"><div>Test Case</div></a></th>
                    <th><a href="#"><div>Last Tested</div></a></th>
                    <th><a href="#"><div>Test Type</div></a></th>
                    <th><a href="#"><div>Validation Errors</div></a></th>
                    <th class="noarrow"><div>Actions</div></th>
                  </tr>
              <% end %>
              <tr>
                <td>
                  <% if vendor_test_plan.clinical_document %>
                    <%  if vendor_test_plan.validated? %>
                     <% if numXMLValidationErrors > 0 %>
                       <%= image_tag "fail.png", :alt => 'Test Failed' %>failed</td>
                     <% else %>
                       <%= image_tag "pass.png", :alt => 'Test Passed' %>passed</td>
                     <% end %> 
                     <% else %>
                       validation error
                     <% end %>
                  <% else %>
                    <%= image_tag "inprogress.png", :alt => 'Test In Progress' %>in progress</td>
                  <% end %>
                <td>
                  <% if vendor_test_plan.clinical_document && !vendor_test_plan.validated? %>
                    <%= vendor_test_plan.patient_data.name %>
                  <% else %>
                    <%= link_to h(vendor_test_plan.patient_data.name), patient_data_instance_url(vendor_test_plan.patient_data) %>
                  <% end %>
                </td>
                <td><%= vendor_test_plan.updated_at.strftime("%d.%b.%Y")  %></td>
                <td><%= vendor_test_plan.kind.name %></td>
                <td>
                  <% if vendor_test_plan.clinical_document %>
                    <%  if !vendor_test_plan.validated?
                        numXMLValidationErrors = "N/A"
                     end %>
                    <%  error_count_link_text = numXMLValidationErrors.to_s + " Errors" %>
                    <%= link_to error_count_link_text, validate_vendor_test_plan_url(vendor_test_plan) %>
                  <% else %>
                    --
                  <% end %>
                </td>
                <td class="actions">
                  <% if vendor_test_plan.clinical_document %>
                     <%  if !vendor_test_plan.validated? %>
                      <%= link_to 'revalidate', revalidate_vendor_test_plan_url(vendor_test_plan) %>
                    <% end %>
                    <%= link_to 'destroy', vendor_test_plan, :confirm => 'Are you sure you want to delete this Laika test?', :method => :delete %>
                    <% if vendor_test_plan.validated? %>
                      <%= link_to 'inspect', validate_vendor_test_plan_url(vendor_test_plan) %>
                      <%= link_to 'checklist', {:controller => 'vendor_test_plans', :action => 'checklist', :id => vendor_test_plan.id} %>
                    <% end %>
                  <% else %>
                    <%= link_to 'edit', patient_data_instance_url(vendor_test_plan.patient_data)%>
                    <%= link_to 'destroy', vendor_test_plan, :confirm => 'Are you sure you want to delete this Laika test?', :method => :delete %>
                    <% if vendor_test_plan.kind.name == "Generate and Format" %>
                      <a href="javascript:toggle_div('execution_div_<%=vendor_test_plan.id%>');">execute</a>
                    <% else %>
                      <%= link_to 'xml', patient_data_instance_url(vendor_test_plan.patient_data, :format => 'xml') %> 
                      <%= link_to 'checklist', {:controller => 'patient_data', :action => 'checklist', :id => vendor_test_plan.patient_data.id} %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% if vendor_test_plan.kind.name == "Generate and Format" %>
              <tr>
                <td colspan="6" align="right">
                  <div id="execution_div_<%=vendor_test_plan.id%>" style="display:none">
                    <% if !vendor_test_plan.clinical_document %>
                      <br/>
                      <% form_for(:clinical_document, 
                                  :url => vendor_test_plan_clinical_document_url(vendor_test_plan),
                                  :html => { :multipart => true }) do |f| -%>
                          <label>Document Type &nbsp;&nbsp;&nbsp;&nbsp;
                            <%= f.select :doc_type, ['C32'] %>
                          </label>
                          <br/>
                          <label>Clinical Document
                            <%= f.file_field :uploaded_data %>
                          </label>
                          <br/>
                          <%= submit_tag 'Attach' %>
                      <% end -%>
                    <% end %>
                  </div>
                </td>
              </tr>
              <% end %>
              <% currentVendorTestId = vendor_test_plan.vendor.id %>
            <% end %>
            <!-- End Vendor Test Plan Loop -->
            </table>
          </div>
          <!-- End Container -->
        </div>
        <!-- End Content -->
