        <!-- Start Content -->
        <div class="content">
        
          <div class="container">
        
            <h3>Inspection ID: 28472</h3>
            
            <p class="toplinks">
              <a href="#">assign template</a>
              <a href="#">create report</a>
            </p>
            
            <!-- Start Dashboard Table -->
            <table id="dashboard">
              <tr>
                <th><a href="#"><div>Status</div></a></th>
                <th class="selected"><a href="#"><div>Test Case</div></a></th>
                <th><a href="#"><div>Last Tested</div></a></th>
                <th><a href="#"><div>Test Type</div></a></th>
                <th><a href="#"><div>Required</div></a></th>
                <th class="noarrow"><div>Actions</div></th>
              </tr>
              
              <!-- Start Vendor Test Plan Loop -->
              <% for vendor_test_plan in @vendor_test_plans %>
              <tr>
                <td><img src="/images/inprogress.png">in progress</td>
                <td><%= link_to vendor_test_plan.patient_data.name, patient_data_instance_url(vendor_test_plan.patient_data)%></td>
                <td><%= vendor_test_plan.updated_at.strftime("%d.%b.%Y")  %></td>
                <td><%= vendor_test_plan.kind.name %></td>
                <td><a href="template_passed.html">100%</a></td>
                <td class="actions">
                  <%= link_to 'edit', patient_data_instance_url(vendor_test_plan.patient_data)%>
                  <%= link_to 'destroy', vendor_test_plan, :confirm => 'Are you sure you want to delete this Laika test?', :method => :delete %>
                  <% if vendor_test_plan.kind.name == "Generate and Format" %>
                    <a href="javascript:toggle_div('execution_div_<%=vendor_test_plan.id%>');">execute</a>
                  <% else %>
                    <%= link_to 'execute', patient_data_instance_url(vendor_test_plan.patient_data, :format => 'xml') %> 
                  <% end %>
                </td>
              </tr>
              <% if vendor_test_plan.kind.name == "Generate and Format" %>
              <tr>
                <td colspan="6" align="right">
                  <div id="execution_div_<%=vendor_test_plan.id%>" style="display:none">
                    <% if vendor_test_plan.clinical_document -%>
                      <%= link_to 'Automated XML Verification', inspect_content_vendor_test_plan_url(vendor_test_plan) %>
                    <% else -%>
                      <br/>
                      <% form_for(:clinical_document, 
                                  :url => vendor_test_plan_clinical_document_url(vendor_test_plan),
                                  :html => { :multipart => true }) do |f| -%>
                          <label>Document Type &nbsp;&nbsp;&nbsp;&nbsp;
                            <%= f.select :doc_type, ['CDA', 'CCD', 'C32'] %>
                          </label>
                          <br/>                              
                          <label>Clinical Document            
                            <%= f.file_field :uploaded_data %>
                          </label>
                          <br/>
                          <%= submit_tag 'Attach' %>
                      <% end -%>
                    <% end -%>
                  </div>
                </td>
              </tr>
              <% end %>
              <% end %>
              
              <!-- End Vendor Test Plan Loop -->
            
            </table>
            <!-- End Dashboard Table -->
            
          </div>
        </div>