  <div class="content">
    <div class="container" >
<% @report.elements.to_a("//Result").each do |res| %>
    <div class="report"><span><%= res.attributes['validator'] %></span>|<span>Valid: <%= res.attributes['isValid'] %></span>
     <% res.elements.to_a("./error").each do |err| %> 
       <% 
       error_id = nil
        if err.attributes['location'] 
           error_id = @error_mapping[err.attributes['location']]
         end
         %>
        <div class="indent report_error" >
        <% if error_id %>
          <a class="error" href="#error_<%=error_id%>" ><span><%= err.to_s %> </span></a></div>
        <% else %>
        <span><%= err.to_s %> </span></div>
        <% end %>
    <% end %>
    </div> 
<% end %>
<%= render :partial=>"node" , :locals=>{"element"=>@doc} %>

</div></div>