  <% fields_for address do |address_form| -%>
  <tr class="lightzebra">
    <td class="lighttext">Street Address</td>
    <td><%= address_form.text_field :street_address_line_one %></td>
  </tr>
  <tr class="darkzebra">
    <td class="lighttext"></td>
    <td><%= address_form.text_field :street_address_line_two %></td>
  </tr>
  <tr class="lightzebra">
    <td class="lighttext">City</td>
    <td><%= address_form.text_field :city %></td>
  </tr>
  <tr class="darkzebra">
    <td class="lighttext">State</td>
    <td><%= address_form.select :state, 
              ["AK",
              "AL",
              "AR",
              "AS",
              "AZ",
              "CA",
              "CO",
              "CT",
              "DC",
              "DE",
              "FL",
              "FM",
              "GA",
              "GU",
              "HI",
              "IA",
              "ID",
              "IL",
              "IN",
              "KS",
              "KY",
              "LA",
              "MA",
              "MD",
              "ME",
              "MH",
              "MI",
              "MN",
              "MO",
              "MS",
              "MT",
              "NC",
              "NE",
              "NJ",
              "NH",
              "NM",
              "NV",
              "NY",
              "ND",
              "OH",
              "OK",
              "OR",
              "PA",
              "PW",
              "PR",
              "RI",
              "SC",
              "SD",
              "TN",
              "TX",
              "UT",
              "VI",
              "VT",
              "VA",
              "WA",
              "WI",
              "WV",
              "WY"] %></td>
  </tr>
  <tr class="lightzebra">
    <td class="lighttext">Postal Code</td>
    <td><%= address_form.text_field :postal_code %></td>
  </tr>
  <tr class="darkzebra">
    <td class="lighttext">Country</td>
    <td>
      <select id="address_iso_country" name="address[iso_country]">
         <% for isoCountry in @isoCountries -%>
           <option value="<%= isoCountry.name %>" <% if isoCountry.code == address.iso_country %>selected<% end %>><%= isoCountry.code %></option>
         <% end -%>
       </select>
    </td>
  </tr>
  <% end -%>