<tr>
  <td class="hitsp_c32_attribute_name">Street Address 1:</td>
  <td class="hitsp_c32_attribute_value">
    <div class="person_read_only">
      <%=h address.street_address_line_one %>
    </div>
  </td>
  <td class="hitsp_c32_attribute_name">City:</td>
  <td class="hitsp_c32_attribute_value">
    <div class="person_read_only">
      <%=h address.city %>
    </div>  
  </td>
</tr>
<tr>
  <td class="hitsp_c32_attribute_name">Street Address 2:</td>
  <td class="hitsp_c32_attribute_value">
    <div class="person_read_only">
      <%=h address.street_address_line_two %>
    </div>
  </td>
  <td class="hitsp_c32_attribute_name">State:</td>
  <td class="hitsp_c32_attribute_value">
    <div class="person_read_only">
      <%=h address.state %>
    </div>
  </td>
 </tr>
<tr>
  <td class="hitsp_c32_attribute_name">Postal Code:</td>
  <td class="hitsp_c32_attribute_value">
    <div class="person_read_only">
      <%=h address.postal_code %>
    </div>
  </td>
  <td class="hitsp_c32_attribute_name">Country:</td>
  <td class="hitsp_c32_attribute_value">
    <div class="person_read_only">
      <%=h address.country %>
    </div>
  </td>
</tr>
