<tr>
  <td class="hitsp_c32_attribute_name">Street Address 1:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h address.street_address_line_one %>
  </td>
  <td class="hitsp_c32_attribute_name">City:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h address.city %>
  </td>
</tr>
<tr>
  <td class="hitsp_c32_attribute_name">Street Address 2:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h address.street_address_line_two %>
  </td>
  <td class="hitsp_c32_attribute_name">State:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h address.state %>
  </td>
 </tr>
<tr>
  <td class="hitsp_c32_attribute_name">Postal Code:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h address.postal_code %>
  </td>
  <td class="hitsp_c32_attribute_name">Country:</td>
  <td class="hitsp_c32_attribute_value">
      <%=h address.country %>
  </td>
</tr>
