<% if allergy.new_record?
     allergy_div = 'allergyNew' 
     html_options = {} -%>
<div id="allergyNew">
<% else
     allergy_div = "allergy#{allergy.id}"
     html_options = {:method => 'put'}
   end %>
<% remote_form_for(:allergy, allergy, :url => patient_data_instance_allergy_path(patient_data, allergy), :html => html_options,
                   :update => allergy_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Event</td>
    <td>
      <input id="allergy_start_event" name="allergy[start_event]" size="30" type="text" <% if allergy.start_event != nil %>value="<%= allergy.start_event.strftime("%m/%d/%Y") %>"<% end %> onClick="GetDate(this);" />
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Event</td>
    <td>
      <input id="allergy_end_event" name="allergy[end_event]" size="30" type="text" <% if allergy.end_event != nil %>value="<%= allergy.end_event.strftime("%m/%d/%Y") %>"<% end %> onClick="GetDate(this);" />
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Adverse Event Type</td>
    <td>
      <%= f.select :adverse_event_type_id, @adverse_event_types.collect{|aet| [aet.name, aet.id]} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text Product Name</td>
    <td><%= f.text_field :free_text_product %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Product Code</td>
    <td><%= f.text_field :product_code %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Severity</td>
    <td>
      <%= f.select :severity_term_id, @severity_terms.collect{|st| [st.name, st.id]} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>

