<% if allergy.new_record?
     allergy_div = 'allergyNew' 
     html_options = {} -%>
<div id="allergyNew">
<% else
     allergy_div = "allergy#{allergy.id}"
     html_options = {:method => 'put'}
   end %>
<% remote_form_for(:allergy, allergy, :url => patient_data_instance_allergy_path(patient_data, allergy), :html => html_options,
                   :update => allergy_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text Product Name <%= print_validation_for allergy, :free_text_product %></td>
    <td><%= f.text_field :free_text_product %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Product Code <%= print_validation_for allergy, :product_code %></td>
    <td>
      <%= f.text_field :product_code %>
      <br />
      <em><b>Laika</b>: assumes RxNorm coding.</em>
      <br />
      <em><b>HITSP</b>: The product causing the adverse event SHALL be coded to UNII for Food and substance allergies, or RxNorm when to medications, or NDF-RT when to classes of medications.</em>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Alert Type <%= print_validation_for allergy, :adverse_event_type_id %></td>
    <td>
      <%= f.select :adverse_event_type_id, @adverse_event_types.collect{|aet| [aet.name, aet.id]} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Event <%= print_validation_for allergy, :start_event %></td>
    <td>
      <%= f.calendar_date_select :start_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Event <%= print_validation_for allergy, :end_event %></td>
    <td>
      <%= f.calendar_date_select :end_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Status Code <%= print_validation_for allergy, :allergy_status_code_id %></td>
    <td>
      <%= f.select :allergy_status_code_id, @allergy_status_codes.collect{|asc| [asc.name, asc.id]}, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>

