<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Event</td>
    <td>
      <%=h allergy.start_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Event</td>
    <td>
      <%=h allergy.end_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Adverse Event Type</td>
    <td>
      <%=h allergy.adverse_event_type.name %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text Product Name</td>
    <td><%=h allergy.free_text_product %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Product Code</td>
    <td><%=h allergy.product_code %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Severity</td>
    <td>
      <%=h allergy.severity_term.name %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
    <span>
      <%= link_to_remote 'Edit', :update => "allergy#{allergy.id}",
                                 :url => edit_patient_data_instance_allergy_path(patient_data, allergy),
                                 :method => 'get' %>
     </span>  
     
      <span>
      <%= link_to_remote 'Remove', :update => "allergy#{allergy.id}",
                                 :url => patient_data_instance_allergy_path(patient_data, allergy),
                                 :method => 'delete' %>
     </span>
    </td>
  </tr>
</table>
