<!-- Start Personal Information Module -->
<% remote_form_for(:support, 
                   :url => patient_data_instance_support_path(patient_data),
                   :update => 'supportContainer') do |f| %>
<h5>Support</h5>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Support</td>
    <td><input id="support_start_support" name="support[start_support]" size="30" type="text" <% if support.start_support != nil %>value="<%= support.start_support.strftime("%m/%d/%y") %>"<% end %> onClick="GetDate(this);" /></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Support</td>
    <td><input id="support_end_support" name="support[end_support]" size="30" type="text" <% if support.end_support != nil %>value="<%= support.end_support.strftime("%m/%d/%y") %>"<% end %> onClick="GetDate(this);" /></td>
  </tr>
  <%= render :partial => '/person_names/edit', :locals => {:person_name => support.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Contact</td>
    <td>
      <%= f.select :contact_type_id, @contactTypes.collect{|contact| [contact.name, contact.id]} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Relationship</td>
    <td>
      <%= f.select :relationship_id, @relationships.collect{|relationship| [relationship.name, relationship.id]} %>
    </td>
  </tr>
  <%= render :partial => '/addresses/edit', :locals => {:address => support.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => support.telecom}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>


