<h1>Editing support</h1>

<%= error_messages_for :support %>

<% form_for(@support) do |f| %>
  <p>
    <b>Start support</b><br />
    <%= f.date_select :start_support %>
  </p>

  <p>
    <b>End support</b><br />
    <%= f.date_select :end_support %>
  </p>

  <p>
    <b>Contact relationship</b><br />
    <%= f.text_field :contact_relationship %>
  </p>

  <p>
    <b>Contact type</b><br />
    <%= f.text_field :contact_type %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @support %> |
<%= link_to 'Back', supports_path %>
