<table class="hitsp_c32_module_header">
  <tbody>  
    <tr>
      <td class="hitsp_c32_module_name">Support</td>
      <td class="hitsp_c32_attribute_collapse">
        <a href="javascript:switch_hitsp_module('hitsp_32_support_info', 'support_info_hide_show_link');" id="support_info_hide_show_link">Hide</a>
        &nbsp;&nbsp;&nbsp;<a href="#">Edit</a>
        &nbsp;&nbsp;&nbsp;<a href="javascript:scroll_to_module('page', 1.5);">Top</a>
      </td>
    </tr>
  </tbody>
</table>
<div id="hitsp_32_support_info">
  <table class="hitsp_c32_module">
    <tbody>
      <tr>
        <td class="hitsp_c32_attribute_name">Start Support:</td>
        <td class="hitsp_c32_attribute_value"><%=h @support.start_support %></td>
        <td class="hitsp_c32_attribute_name">End Support:</td>
        <td class="hitsp_c32_attribute_value"><%=h @support.end_support %></td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">First Name:</td>
        <td class="hitsp_c32_attribute_value"><%=h @support.end_support %></td>
        <td class="hitsp_c32_attribute_name">Prefix:</td>
        <td class="hitsp_c32_attribute_value"><%=h @support.person_name.name_prefix %></td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">Last Name:</td>
        <td class="hitsp_c32_attribute_value"><%=h @support.person_name.last_name %></td>
        <td class="hitsp_c32_attribute_name">Suffix:</td>
        <td class="hitsp_c32_attribute_value"><%=h @support.person_name.name_suffix %></td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">Contact:</td>
        <td class="hitsp_c32_attribute_value"><%=h @support.contact_relationship %></td>
        <td class="hitsp_c32_attribute_name">Type:</td>
        <td class="hitsp_c32_attribute_value"><%=h @support.contact_type %></td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">Street Address:</td>
        <td class="hitsp_c32_attribute_value">83 Foster Court</td>
        <td class="hitsp_c32_attribute_name">Street Address:</td>
        <td class="hitsp_c32_attribute_value">2nd Floor</td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">City:</td>
        <td class="hitsp_c32_attribute_value">Winchester</td>
        <td class="hitsp_c32_attribute_name">State:</td>
        <td class="hitsp_c32_attribute_value">MA</td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">Postal Code:</td>
        <td class="hitsp_c32_attribute_value">01440</td>
        <td class="hitsp_c32_attribute_name">Country:</td>
        <td class="hitsp_c32_attribute_value">US</td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">Home Phone:</td>
        <td class="hitsp_c32_attribute_value">+1-483-578-7936</td>
        <td class="hitsp_c32_attribute_name">Mobile Phone:</td>
        <td class="hitsp_c32_attribute_value">+1-989-266-7904</td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">Work Phone:</td>
        <td class="hitsp_c32_attribute_value">+1-762-729-2130</td>
        <td class="hitsp_c32_attribute_name">Vacation Home Phone:</td>
        <td class="hitsp_c32_attribute_value">+1-781-675-2062</td>
      </tr>
      <tr>
        <td class="hitsp_c32_attribute_name">Email:</td>
        <td class="hitsp_c32_attribute_value">marge@simpson.com</td>
        <td class="hitsp_c32_attribute_name">URL:</td>
        <td class="hitsp_c32_attribute_value">www.simpson.com</td>
      </tr>
    </tbody>
  </table>
</div>

<p>
  <b>Start support:</b>
  <%=h @support.start_support %>
</p>

<p>
  <b>End support:</b>
  <%=h @support.end_support %>
</p>

<p>
  <b>Contact relationship:</b>
  <%=h @support.contact_relationship %>
</p>

<p>
  <b>Contact type:</b>
  <%=h @support.contact_type %>
</p>


<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', supports_path %>
