<h5>Supports</h5>
<table>
<% if support -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Support</td>
    <td><% if support.start_support != nil %><%=h support.start_support.strftime("%m/%d/%y") %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Support</td>
    <td><% if support.end_support != nil %><%=h support.end_support.strftime("%m/%d/%y") %><% end %></td>
  </tr>
  <%= render :partial => '/person_names/show', :locals => {:person_name => support.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Contact Type</td>
    <td><% if support.contact_type != nil %><%=h support.contact_type.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Relationship</td>
    <td><% if support.relationship != nil %><%=h support.relationship.name %><% end %></td>
  </tr>
  <%= render :partial => '/addresses/show', :locals => {:address => support.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => support.telecom}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= link_to_remote 'Edit', :update => 'supportContainer', 
                                 :url => edit_patient_data_instance_support_path(patient_data),
                                 :method => 'get' %>
    </td>
  </tr>
<% else -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">There is no support data for this test case</td>
    <td><%= link_to_remote 'Create some', :update => 'supportContainer',
                                      :url => new_patient_data_instance_support_path(patient_data), :method => 'get' %>
    </td>
  </tr>
<% end -%>
</table>
