<h5>Supports</h5>
<table>
<% if support -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Support</td>
    <td><%=h support.start_support %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Support</td>
    <td><%=h support.end_support %></td>
  </tr>
  <%= render :partial => '/person_names/show', :locals => {:person_name => support.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Contact</td>
    <td><%=h support.contact_relationship %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Type</td>
    <td><%=h support.contact_type %></td>
  </tr>
  <%= render :partial => '/addresses/show', :locals => {:address => support.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => support.telecom}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= link_to_remote 'Edit', :update => 'support', 
                                 :url => edit_patient_data_instance_support_path(patient_data),
                                 :method => 'get' %>
    </td>
  </tr>
<% else -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">There is no support data for this test case</td>
    <td><%= link_to_remote 'Create some', :update => 'support',
                                      :url => new_patient_data_instance_support_path(patient_data), :method => 'get' %>
    </td>
  </tr>
<% end -%>
</table>
