<!-- Start Personal Information Module -->
<% remote_form_for(:support, 
                   :url => patient_data_instance_support_path(@patient_data),
                   :update => 'supportContainer', :method => http_method(@support)) do |f| %>
<h5>Support (HITSP required)</h5>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Support <%= print_validation_for @support, :start_support %></td>
    <td>
      <%= f.calendar_date_select :start_support %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Support <%= print_validation_for @support, :end_support %></td>
    <td><%= f.calendar_date_select :end_support %></td>
  </tr>
  <%= render :partial => '/person_names/edit', :locals => {:person_name => @support.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Contact <%= print_validation_for @support, :contact_type_id %></td>
    <td>
      <%= f.select :contact_type_id, ContactType.select_options %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Relationship <%= print_validation_for @support, :relationship_id %></td>
    <td>
      <%= f.select :relationship_id, Relationship.select_options, {:include_blank => true} %>
    </td>
  </tr>
  <%= render :partial => '/addresses/edit', :locals => {:address => @support.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => @support.telecom}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>


