<h5>Pregnancy</h5>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Pregnant</td>
    <td><%= h @patient_data.pregnant %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= link_to_remote 'Edit', :update => 'pregnancyContainer', 
                                 :url =>  {:controller => "pregnancy", 
                                           :action => "edit", 
                                           :patient_datum_id => @patient_data.id},
                                 :method => 'get' %>
      <%= link_to_remote 'Remove', :update => "pregnancyContainer",
                                   :url =>  {:controller => "pregnancy", 
                                             :action => "destroy", 
                                             :patient_datum_id => @patient_data.id},
                                   :method => 'delete' %>
    </td>
  </tr>
</table>