  <%= render :partial => '/person_names/edit', :locals => {:person_name => insurance_provider_guarantor.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Birth Date</td>
    <td>
      <input id="insurance_provider_guarantor_effective_date" name="insurance_provider_guarantor[effective_date]" size="30" type="text" <% if insurance_provider_guarantor.effective_date != nil %>value="<%= insurance_provider_guarantor.effective_date.strftime("%m/%d/%Y") %>"<% end %> onClick="GetDate(this);" />
    </td>
  </tr>
    <%= render :partial => '/addresses/edit', :locals => {:address => insurance_provider_guarantor.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => insurance_provider_guarantor.telecom}%>