  <%= render :partial => '/person_names/edit', :locals => {:person_name => insurance_provider_guarantor.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Birth Date</td>
    <td>
     <%= calendar_date_select_tag "insurance_provider_guarantor_effective_date", insurance_provider_guarantor.effective_date %>
    </td>
  </tr>
    <%= render :partial => '/addresses/edit', :locals => {:address => insurance_provider_guarantor.address}%>
  <%= render :partial => '/telecoms/edit', :locals => {:telecom => insurance_provider_guarantor.telecom}%>