        <!-- Start Header -->
        <div class="header">
          <div class="right top"><p>Welcome, <span style="color:#FFFFFF"><%= link_to self.current_user.first_name, edit_user_path(current_user) %> | <%= link_to 'Logout', :controller => 'account', :action => 'logout' %></p></div>
          <div class="doggy"><%= image_tag "laika.png", :alt => 'Laika' %></div>
          <div class="right">
            <ul id="smallnav">
              <li <% if current_page?(:controller => 'users') %>id="active"<% end %>><%= link_to 'People &amp; Inspections', :controller => 'users' %></li>
              <li><a href="http://laika.sourceforge.net/about.html">About</a></li>
              <li><a href="mailto:<%= FEEDBACK_EMAIL %>">Feedback</a></li>
            </ul>
          </div>
          <div class="right">
            <ul id="bignav">
              <% if @show_dashboard == true %>
                <li id="active"><%= link_to('Dashboard', :controller => 'vendor_test_plans') %></li>
                <li><%= link_to('Library', :controller => 'patient_data') %></li>
              <% elsif current_page?(:controller => 'users') %>
                <li><%= link_to('Dashboard', :controller => 'vendor_test_plans') %></li>
                <li><%= link_to('Library', :controller => 'patient_data') %></li>
              <% elsif current_page?(:controller => 'vendor_test_plans')  %>
                <li id="active"><%= link_to('Dashboard', :controller => 'vendor_test_plans') %></li>
                <li><%= link_to('Library', :controller => 'patient_data') %></li>
              <% elsif @show_dashboard == true %>
                <li id="active"><%= link_to('Dashboard', :controller => 'vendor_test_plans') %></li>
                <li><%= link_to('Library', :controller => 'patient_data') %></li>
              <% else %>
                <li><%= link_to('Dashboard', :controller => 'vendor_test_plans') %></li>
                <li id="active"><%= link_to('Library', :controller => 'patient_data') %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- End Header -->