        <!-- Start Header -->
        <div class="header">
          <div class="right top"><p>Welcome, <a href="#"><%= self.current_user.first_name %></a> | <%= link_to 'Logout', :controller => 'account', :action => 'logout' %></p></div>
          <div class="doggy"><img src="images/laika.png"></div>
          <div class="right">
            <ul id="smallnav">
              <li><%= link_to 'People &amp; Inspections', :controller => 'users' %></li>
              <li><a href="#">About</a></li>
              <li><a href="mailto:talk@projectlaika.org">Feedback</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <div class="right">
            <ul id="bignav">
              <% if current_page?(:controller => 'users') %>
                <li><%= link_to('Dashboard', :controller => 'vendor_test_plans') %></li>
                <li><%= link_to('Library', :controller => 'patient_data') %></li>
              <% elsif current_page?(:controller => 'patient_data') %>
                <li><%= link_to('Dashboard', :controller => 'vendor_test_plans') %></li>
                <li id="active"><%= link_to('Library', :controller => 'patient_data') %></li>
              <% else %>
                <li id="active"><%= link_to('Dashboard', :controller => 'vendor_test_plans') %></li>
                <li><%= link_to('Library', :controller => 'patient_data') %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- End Header -->