        <!-- Start Header -->
        <div class="header">
          <div class="right top"><p>Welcome, <span style="color:#FFFFFF; text-decoration: underline"><%= link_to self.current_user.first_name, edit_user_path(current_user) %></span> | <span style="color:#FFFFFF; text-decoration: underline"><%= link_to 'Logout', :controller => 'account', :action => 'logout' %></span></p></div>
          <div class="doggy"><%= image_tag "laika.png", :alt => 'Laika' %></div>
          <div class="right">
            <ul id="smallnav">
              <li <% if current_controller? 'atna_audits' %>id="active"<% end %>><%= link_to 'ATNA Log', atna_audits_url %></li>
              <li <% if current_controller? 'news' %>id="active"<% end %>><%= link_to 'News', news_index_url %></li>
              <li <% if current_controller? 'users' %>id="active"<% end %>><%= link_to 'People &amp; Inspections', :controller => 'users' %></li>
              <li><a href="http://laika.sourceforge.net/about.html">About</a></li>
              <li><a href="mailto:<%= FEEDBACK_EMAIL %>">Feedback</a></li>
            </ul>
          </div>
          <div class="right">
            <ul id="bignav">
              <li <%= 'id="active"' if @show_dashboard || current_controller?('vendor_test_plans') %>>
                <%= link_to('Dashboard', vendor_test_plans_url) %></li>
              <li <%= 'id="active"' if !@show_dashboard && current_controller?('xds_patients') %>>
                <%= link_to('XDS', xds_patients_url) %></li>
              <li <%= 'id="active"' if !@show_dashboard && current_controller?('patient_data') %>>
                <%= link_to('Library', patient_data_url) %></li>
            </ul>
          </div>
        </div>
        <!-- End Header -->
