<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <title>Laika Dashboard</title>  

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache"><!-- no java_main.js so we don't check for idle state -->
  
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'common' %>  
  <script type="text/javascript" src="<%= javascript_path('scriptaculous') %>scriptaculous.js?load=effects,dragdrop,controls"></script>
  
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => "print" %>
  <%= stylesheet_link_tag 'style' %>
 
  <!--[if IE]><link rel="stylesheet" href="/css/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
  <!-- Show the grid and baseline -->
  <style type="text/css">
    /*<![CDATA[*/
        /*.container {background: url(/css/blueprint/lib/grid.png) repeat;}*/
    /*]]>*/
  </style>
  
  <script language="JavaScript" type="text/JavaScript">
  <!--
  
    function toggle_div(id)
    {
      Effect.toggle(id,'slide'); 
    }
    
    function scroll_to_module(id, time)
    {
      new Effect.ScrollTo(id,{duration:time});
    }
  //-->    
  </script>

</head>

<body>

  <div class="level1">
    <div class="level2">
      <div class="level3">
  
        <!-- Start Global Header -->
        <%= render :partial => 'layouts/header' %>
        <!-- End Global Header -->
      
        <%= yield  %>
        
        <div class="footer"></div>
         
      </div>
    </div>
  </div>
  
</body>
